@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction: column;
}

img {
  width: 600px;
  
}
/*
*{
  border:1px solid black;
}
*/

button {
  font-family: Roboto, sans-serif;
  font-weight:550;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:12px;
  margin:5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 10px;
}



.content {
  height:100%;
  align-content:space-around;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  
}

.header, .footer{
display:flex;
justify-content:space-between;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#eeeeee;

}

.right-links, .left-links {
  display:flex;
  gap:30px;
  padding:5px;
  margin:5px;
  font-weight:800;
  
  

}
ul, li a {
  text-decoration:none;
  list-style:none;
  color:gray; 
}